* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Source Sans Pro';
    color: #333333;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------------------------------ */
/* Header */
/* ------------------------------------------ */

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
}

.navigation ul {
    float: right;
    margin-top: -61px;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

header {
    background-image: url('../images/rawpixel-632449-unsplash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    font-family: bitter;
    letter-spacing: 2px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.main-title p {
    text-align: center;
    margin-top: 20px;
}

.scroll-down {
    text-align: center;
    margin-top: 250px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

/* ------------------------------------------ */
/* Section 2 What can I do*/
/* ------------------------------------------ */

.title-box {
    margin-top: 100px;
    padding: 20px;
    width: 600px;
    background-color: #274daf;
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.skills {
    margin-top: 80px;
}

.design-img {
    height: 200px;
    width: auto;
    float: right;
}

.develop-img {
    height: 200px;
    width: auto;
    float: left;
}

.design-text,
.develop-text {
    margin-top: 50px;
}

#design-title,
#develop-title {
    font-weight: bold;
    text-align: center;
}

#design-para {
    margin-right: 80px;
    text-align: justify;
}

#develop-para {
    margin-left: 80px;
    text-align: justify;
}

.d1 {
    margin-bottom: 80px;
}

/* ------------------------------------------ */
/* Section 3 My Works */
/* ------------------------------------------ */

.work-boxes {
    margin-top: 50px;
}

.project-box {
    box-shadow: 0 20px 40px 0 rgba(10, 1, 90, 0.1), 0 0 30px 0 rgba(10, 0, 146, 0.03);
    margin: 25px;
    /* border-radius: 25px; */
}

.project-box img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}

.project-name {
    text-align: center;
    padding: 30px 0px;
}

/* ------------------------------------------ */
/* Section 4 Contact Me */
/* ------------------------------------------ */

input[type=text],
input[type=email],
select,
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 30%;
    padding: 12px;
    border: 1px solid #274daf;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #274daf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}


.container {
    /* max-width: 50%; */
    text-align: center;
    /* margin: 0 auto; */
    /* border-radius: 5px; */
    padding: 20px;
}

/* ------------------------------------------ */
/* Section 5 Footer */
/* ------------------------------------------ */

footer {
    background-color: #274daf;
    text-align: center;
    font-weight: 400;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 50px 20px;    
}

footer ul li a {
    text-decoration: none;
    color: white;
}

