body {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

.header {
    background-color: #F4F7FA;
    height: 10vh;
}

.main {
    /* background-color: orangered; */
    height: 70vh;
}

.footer {
    /* background-color: blueviolet; */
    height: 20vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sub-footer {
    background-color: #F4F7FA;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.overlay {
    background-color: #33405B;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.arrow-holder {
    background-color: yellow;
    text-align: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20px;
    left: 50px;
}
.arrow {
    margin-top: 10px;
}

.copyright {
    margin-top: 23px;
    color: #33405B;
}

/* ------------------------------------ */
/* Header */
/* ------------------------------------ */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hamburger {
    background-color: #33405B;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ham-img {
    width: 20px;
    height: 20px;
}

.logo-img {
    height: 50px;
    width: auto;
    margin-left: -70px;
}

.navigation {
    flex-basis: 50%;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    text-decoration: none;
    color: #33405B;
    margin-right: 30px;
}

.search-img, .user-img {
    width: 15px;
    height: 15px;
}

.search-box, .user-box {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(51, 64, 91, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.search {
    display: flex;
}

/* ------------------------------------ */
/* Main */
/* ------------------------------------ */

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.hero-img {
    height: 400px;
    width: auto;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-heading {
    color: #33405B;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 0;
}
.hero-para {
    color: #33405B;
}

.btn {
    font-size: 12px;
    display: inline-block;
}
.btn-yl {
    text-decoration: none;
    background-color: yellow;
    color: #33405B;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.btn-blue {
    text-decoration: none;
    color: white;
    background-color: #33405B;
    padding: 10px 20px;
    margin-top: 40px;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.detail h2 {
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.detail p {
    color: white;
    margin: 0;
}

.name {
    font-weight: 300;
}

.vid {
    height: 100px;
    width: auto;
}