// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    border-bottom: 1px solid #e6e6e6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__nav {

        ul {
            list-style: none;
            font-size: 1.3rem;
            font-weight: 500;

            li {
                display: inline-block;
                margin-right: 3rem;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    &__search {
        display: flex;
        align-items: center;

        form {
            display: flex;
            align-items: center;

            input {
                margin-right: -2rem;
                padding: 1rem;
                font-size: 1.2rem;

                &:focus {
                    outline: none;
                }
            }

            .search-icon {
                color: rgb(117, 117, 117);
            }
        }
        
        i {
            font-size: 1.4rem;
        }
    }
}

.notification-icon {
    display: block;
    padding: 0 2rem;
    padding-right: 0;
}

