.container {
    max-width: 114rem;
    background-color: #fff;
    // min-height: 50rem;
    margin: 5rem auto;
    box-shadow: 0 2rem 8rem rgba($color: #000000, $alpha: .1);

    p {
        font-size: 1.2rem;
    }
}

.header {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    height: 15rem;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.detail {
    background-color: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    color: #264363;
}