* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

html {
    background-color: white;
    color: #070122;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------------------- */
/* Header */
/* ------------------------------- */
.logo-img {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 30px;
}

.top-nav ul {
    float: right;
    margin-top: 40px;
}

.top-nav ul li {
    list-style: none;
    display: inline;
    /* float: right; */
}


.top-nav ul li a:link,
.top-nav ul li a:visited {
    text-decoration: none;
    color: #070122;
    margin-left: 20px;
    font-size: 90%;
    transition: font-size 0.3s, border-bottom 0.3s, border-top 0.3s;
}

.top-nav ul li a:hover,
.top-nav ul li a:active {
    font-size: 100%;
    border-bottom: 1px solid #070122;
    border-top: 1px solid #070122;
}


/* ------------------------------- */
/* section one */
/* ------------------------------- */

.section-one {
    height: 100vh;
}

.text {
    padding: 100px 0;
    /* position: relative;
    vertical-align: middle; */
}
.image {
    padding: 50px 0;
}

h2 {
    padding-bottom: 20px;
}

.section-one p {
    font-size: 90%;
    line-height: 1.5;
    padding-bottom: 50px;
}
.section-one a i {
    padding-right: 8px;
}

.section-one a {
    text-decoration: none;
    padding-right: 40px;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #4700FF;
    background-color: #4700FF;
    color: white;
    border-radius: 50px;
    padding: 5px 30px;
    transition: background-color 0.5s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #8400ff;
    border: 1px solid #8400ff;
}

.btn-hollow {
    border: 1px solid #4700FF;
    padding: 5px 50px 5px 30px;
    color: #4700FF;
    border-radius: 50px;
    margin-left: 20px;
    transition: background-color 0.5s;
}

.btn-hollow:hover {
    background-color: #8400ff;
    border: 1px solid #8400ff;
    color: white;
}

/* ------------------------------- */
/* section two */
/* ------------------------------- */
.section-two {
    margin-bottom: 150px;
}
.three-feature {
    margin: 0 100px;
}

.section-two h2 {
    margin-bottom: 40px;
    text-align: center;
}
.sec-two-h3 {
    margin-bottom: 50px;
}
.sec-two-h3 img {
    float: left;
    padding-right: 20px;
}
.sec-two-h3 h3 {
    padding-top: 20px;
}

/* ------------------------------- */
/* section three */
/* ------------------------------- */

.span-1-of-2{
    margin: 0;
}
.section-three h2 {
    padding-top: 20px;
    text-align: center;
}
.img-sec-three {
    height: 400px;
    width: auto;
}
.work-steps {
    margin-top: 50px;
    margin-left: 100px;
}
.steps div {
    color: #070122;
    border: 1px solid #070122;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 100%;
    margin-right: 25px;
}

.steps p {
    padding-top: 5px;
}

.steps {
    margin-bottom: 30px;
}

/* ------------------------------- */
/* section four */
/* ------------------------------- */

.section-four {
    margin-top: 100px;
    background-color: #E6EDF7;
}

.section-four h2 {
    text-align: center;
    margin-top: 70px;
}

#s4p {
    text-align: center;
    margin-bottom: 100px;
}

.customer-quote {
    background-color: white;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1), 0 0 30px 0 rgba(0,0,0,0.03);
}

.face img {
    /* float: left; */
    border-radius: 50%;
    height: 80px;
    margin: 35px 0px 0px 55px ;
}

.face p {
    text-align: center;
    padding-top: 10px;
}

.comment p {
    text-align: justify;
    margin: 40px 40px 0px 0px;
}

.join-them {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}
.join-them a {
    text-decoration: none;
    text-align: center;
    
}

/* ------------------------------- */
/* section five */
/* ------------------------------- */

.section-five {
    background-color: #1b1b79;
    color: white;
    padding-bottom: 50px;
}

.left-text h2 {
    text-align: center;
    margin-top: 50px;
}

.left-text p {
    line-height: 1.5;
    font-weight: 100;
    text-align: justify;
}

.sec4-btn {
    text-align: center;
    margin-top: 50px;
    
}
.sec4-btn a {
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.image-bg {
    float: right;
}
.image-bg img {
    padding: 80px 0px 0px 0px;
    height: 300px;
    width: auto; 
}

/* ------------------------------- */
/* footer */
/* ------------------------------- */
.footer {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

footer img {
    height: 60px;
    width: auto;
    float: left;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    padding-top: 10px;
}
