// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem=10px, 10px/16px=62.55%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}