/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, #F2D9DD, #BF9FB6);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.header-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100rem;
  margin: auto;
  font-weight: 300;
  font-size: 1.5rem; }

.heading__main {
  font-weight: 400;
  margin: 0; }

.heading__sub {
  margin: 0; }

.user {
  display: flex;
  align-items: center; }
  .user__photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
  .user__name {
    padding-right: 2rem; }

.detail {
  display: flex;
  flex-direction: column; }

.card {
  display: flex;
  width: 100rem;
  margin-bottom: 5rem; }
  .card__profile {
    width: 66%;
    background-color: #fff;
    height: 35rem;
    box-shadow: 0 2rem 8rem rgba(109, 109, 109, 0.1);
    margin-right: 4%;
    border-radius: 8px; }
    .card__profile .top, .card__profile .middle, .card__profile .bottom {
      width: 90%;
      margin: 3rem auto; }
    .card__profile .top > img {
      float: left;
      margin-right: 2rem; }
    .card__profile .top > h2, .card__profile .top > p {
      padding: .2rem;
      margin: 0; }
    .card__profile form input:not([type=checkbox]) {
      border: 1px solid #2643631c;
      border-radius: 100px;
      margin-bottom: 1rem;
      width: 80%;
      padding: 1rem;
      margin-left: 5rem; }
    .card__profile form input:not([type=checkbox]):focus {
      outline: none; }
    .card__profile .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .card__profile .bottom form {
      display: flex;
      font-size: 1.5rem;
      align-items: center; }
    .card__profile .bottom a {
      background-color: #264363;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 100px;
      font-size: 1.5rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
  .card__stats {
    width: 30%;
    background-color: #fff;
    height: 35rem;
    box-shadow: 0 2rem 8rem rgba(109, 109, 109, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem; }
    .card__stats .top h2 {
      margin: 0; }
    .card__stats .icon {
      font-size: 4rem;
      margin-right: 2rem; }
    .card__stats-2, .card__stats-3, .card__stats-4 {
      display: flex;
      align-items: center; }
      .card__stats-2 h2, .card__stats-2 p, .card__stats-3 h2, .card__stats-3 p, .card__stats-4 h2, .card__stats-4 p {
        margin: 0; }

.account {
  width: 100rem;
  background-color: #fff;
  box-shadow: 0 2rem 8rem rgba(109, 109, 109, 0.1);
  border-radius: 8px;
  padding: 2rem 4rem; }
  .account__detail {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .account__detail--button a {
      text-decoration: none;
      color: #264363;
      border: 1px solid #264363;
      padding: 1rem 2rem;
      border-radius: 100px;
      font-size: 1.5rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.container {
  max-width: 114rem;
  background-color: #fff;
  margin: 5rem auto;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1); }
  .container p {
    font-size: 1.2rem; }

.header {
  background-image: linear-gradient(to right, #41295a, #3c1053);
  height: 15rem;
  color: #f1f1f1;
  display: flex;
  justify-content: center; }

.detail {
  background-color: #F7F8FA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
  color: #264363; }
