.detail {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    width: 100rem;
    margin-bottom: 5rem;

    &__profile {
        width: 66%;
        background-color: #fff;
        height: 35rem;
        box-shadow: 0 2rem 8rem rgba($color: #6d6d6d, $alpha: .1);
        margin-right: 4%;
        border-radius: 8px;

        .top, .middle, .bottom {
            width: 90%;
            margin: 3rem auto;
        }
        .top > img {
            float: left;
            margin-right: 2rem; 
        }
        .top > h2, .top > p {
            padding: .2rem;
            margin: 0;
        }

        form input:not([type=checkbox]) {
            border: 1px solid #2643631c;
            border-radius: 100px;
            margin-bottom: 1rem;
            width: 80%;
            padding: 1rem;
            margin-left: 5rem;
        }

        form input:not([type=checkbox]):focus {
            outline: none;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bottom form {
            display: flex;
            font-size: 1.5rem;
            align-items: center;
        }

        .bottom a {
            background-color: #264363;
            color: #fff;
            padding: 1rem 2rem;
            border-radius: 100px;
            font-size: 1.5rem;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
        }

    }

    &__stats {
        width: 30%;
        background-color: #fff;
        height: 35rem;
        box-shadow: 0 2rem 8rem rgba($color: #6d6d6d, $alpha: .1);
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        padding: 2rem 4rem;

        .top h2 {
            margin: 0;
        }

        .icon {
            font-size: 4rem;
            margin-right: 2rem;
        }

        &-2, &-3, &-4 {
            display: flex;
            align-items: center;

            h2, p {
                margin: 0;
            }
        }
    }
}

.account {
    width: 100rem;
    background-color: #fff;
    // height: 30rem;
    box-shadow: 0 2rem 8rem rgba($color: #6d6d6d, $alpha: .1);
    border-radius: 8px;
    padding: 2rem 4rem;

    &__detail {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--button a {
            text-decoration: none;
            color: #264363;
            border: 1px solid #264363;
            padding: 1rem 2rem;
            border-radius: 100px;
            font-size: 1.5rem;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        }
    }

}