.header-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100rem;
    margin: auto;
    font-weight: 300;
    font-size: 1.5rem;
}

.heading {
    &__main {
        font-weight: 400;
        margin: 0;
    }

    &__sub {
        margin: 0;
    }
}

.user {
    display: flex;
    align-items: center;

    &__photo {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    &__name {
        padding-right: 2rem;
    }
}