*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-box {
  background-color: #807AFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  color: white;
}

.logo-box img {
  width: 3rem;
  height: auto;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 2rem;
}

.nav-list li:hover {
  background-color: #ebebeb;
}

.nav-list li:hover a {
  transform: translateY(-2px);
}

.nav-list li a {
  text-decoration: none;
  color: #383838;
  text-transform: uppercase;
  font-size: 1.3rem;
  display: inline-block;
}

.nav-list li:last-child,
.nav-list li:last-child a {
  background-color: #807AFC;
  color: white;
}

.overview {
  height: 55rem;
  display: flex;
}

.overview__text {
  background-color: #444357;
  color: white;
  width: 40%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.overview__text h1 {
  padding: 15rem 2rem 0 2rem;
  font-size: 4.5rem;
}

.overview__text .intro-vid {
  background-color: #fff;
  width: 15rem;
  margin-left: 2rem;
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.overview__text .intro-vid a {
  text-decoration: none;
  color: #807AFC;
}

.overview__text .intro-vid span {
  color: #807AFC;
}

.overview__image {
  width: 60%;
  align-self: stretch;
  background-image: url(../img/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overview__image .inner-box {
  width: 20%;
  height: 20%;
  background-color: #807AFC;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}

.rrc {
  display: flex;
  color: #fff;
}

.rrc>* {
  padding: 5rem 8rem;
}

.rrc .restoration {
  background-color: #9F9BFC;
}

.rrc .residential {
  background-color: #FAB8B5;
}

.rrc .commercial {
  background-color: #B2C0C3;
}

.feature {
  background-color: #F1F1EF;
  color: #383838;
  height: 60rem;
}

.feature-text {
  width: 100rem;
  padding: 7rem 0;
  margin: 0 auto;
  text-align: center;
}

.feature-text .feature-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.feature-box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.feature-box-item {
  display: inline-block;
  width: 50%;
  display: flex;
  padding: 5rem;
  align-items: center;
}

.feature-box-item>i {
  margin-right: 1.5rem;
  font-size: 6rem;
  color: #949494;
}

.feature-box-item p {
  font-size: 1.5rem;
}

.inspiration {
  height: 80rem;
}

.inspiration-text {
  width: 100rem;
  padding: 7rem 0;
  margin: 0 auto;
  text-align: center;
}

.inspiration-text .inspiration-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #383838;
}

.inspiration-gallery {
  width: 80rem;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.top-row {
  text-align: center;
  margin: 0 auto;
}

.top-row ul {
  list-style: none;
}

.top-row ul li {
  display: inline-block;
  width: 45%;
}

.top-row ul li img {
  width: 100%;
  height: 20rem;
}

.bottom-row {
  text-align: center;
  margin-bottom: 10rem;
}

.bottom-row ul {
  list-style: none;
}

.bottom-row ul li {
  display: inline-block;
  width: 30%;
}

.bottom-row ul li img {
  width: 100%;
  height: 100%;
}

.comments {
  height: 60rem;
  background-image: linear-gradient(to right, #181c29, rgba(18, 0, 41, 0.5)), url(../img/bg-image.jpeg);
  background-size: cover;
  position: relative;
}

.comment-box {
  width: 40rem;
  background-color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-110%, -70%);
  padding: 5rem;
  border-bottom: 3px solid #807AFC;
  border-radius: 7px;
}

.comment-box .comment-text {
  margin-bottom: 3rem;
  font-style: italic;
}

.comment-box .comment-user {
  font-size: 2rem;
}

.news {
  color: #383838;
}

.news-text {
  width: 100rem;
  padding: 7rem 0;
  margin: 0 auto;
  text-align: center;
}

.news-text .news-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.news-card {
  width: 100rem;
  margin: 0 auto;
}

.news-card h2 {
  line-height: 1.3;
}

.news-top>* {
  padding: 0 5rem 5rem 5rem;
}

.news-bottom>* {
  padding: 0 5rem 5rem 5rem;
}

::placeholder {
  color: #807AFC;
}

.contact {
  height: 80rem;
  color: #383838;
}

.form-img {
  background-color: yellowgreen;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tools.jpg);
  height: 60rem;
  background-size: cover;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-box h2 {
  font-size: 4rem;
  width: 40rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.form input {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #807AFC;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form textarea {
  border: 1px solid #807AFC;
}

.footer {
  margin-top: 40rem;
  background-color: #444357;
  color: #fff;
  text-align: center;
  height: 10rem;
  position: relative;
}

.copyright {
  text-align: center;
  position: absolute;
  left: 30%;
  top: 40%;
}

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0;
  }
}

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%;
}

.span-1-of-2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%;
  }

  .span-1-of-2 {
    width: 100%;
  }
}

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%;
}

.span-2-of-3 {
  width: 66.13%;
}

.span-1-of-3 {
  width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%;
  }

  .span-2-of-3 {
    width: 100%;
  }

  .span-1-of-3 {
    width: 100%;
  }
}

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%;
}

.span-3-of-4 {
  width: 74.6%;
}

.span-2-of-4 {
  width: 49.2%;
}

.span-1-of-4 {
  width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%;
  }

  .span-3-of-4 {
    width: 100%;
  }

  .span-2-of-4 {
    width: 100%;
  }

  .span-1-of-4 {
    width: 100%;
  }
}

/*  GRID OF FIVE   ============================================================================= */
.span-5-of-5 {
  width: 100%;
}

.span-4-of-5 {
  width: 79.68%;
}

.span-3-of-5 {
  width: 59.36%;
}

.span-2-of-5 {
  width: 39.04%;
}

.span-1-of-5 {
  width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%;
  }

  .span-4-of-5 {
    width: 100%;
  }

  .span-3-of-5 {
    width: 100%;
  }

  .span-2-of-5 {
    width: 100%;
  }

  .span-1-of-5 {
    width: 100%;
  }
}

/*  GRID OF SIX   ============================================================================= */
.span-6-of-6 {
  width: 100%;
}

.span-5-of-6 {
  width: 83.06%;
}

.span-4-of-6 {
  width: 66.13%;
}

.span-3-of-6 {
  width: 49.2%;
}

.span-2-of-6 {
  width: 32.26%;
}

.span-1-of-6 {
  width: 15.33%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%;
  }

  .span-5-of-6 {
    width: 100%;
  }

  .span-4-of-6 {
    width: 100%;
  }

  .span-3-of-6 {
    width: 100%;
  }

  .span-2-of-6 {
    width: 100%;
  }

  .span-1-of-6 {
    width: 100%;
  }
}

/*  GRID OF SEVEN   ============================================================================= */
.span-7-of-7 {
  width: 100%;
}

.span-6-of-7 {
  width: 85.48%;
}

.span-5-of-7 {
  width: 70.97%;
}

.span-4-of-7 {
  width: 56.45%;
}

.span-3-of-7 {
  width: 41.94%;
}

.span-2-of-7 {
  width: 27.42%;
}

.span-1-of-7 {
  width: 12.91%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-7-of-7 {
    width: 100%;
  }

  .span-6-of-7 {
    width: 100%;
  }

  .span-5-of-7 {
    width: 100%;
  }

  .span-4-of-7 {
    width: 100%;
  }

  .span-3-of-7 {
    width: 100%;
  }

  .span-2-of-7 {
    width: 100%;
  }

  .span-1-of-7 {
    width: 100%;
  }
}

/*  GRID OF EIGHT   ============================================================================= */
.span-8-of-8 {
  width: 100%;
}

.span-7-of-8 {
  width: 87.3%;
}

.span-6-of-8 {
  width: 74.6%;
}

.span-5-of-8 {
  width: 61.9%;
}

.span-4-of-8 {
  width: 49.2%;
}

.span-3-of-8 {
  width: 36.5%;
}

.span-2-of-8 {
  width: 23.8%;
}

.span-1-of-8 {
  width: 11.1%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-8-of-8 {
    width: 100%;
  }

  .span-7-of-8 {
    width: 100%;
  }

  .span-6-of-8 {
    width: 100%;
  }

  .span-5-of-8 {
    width: 100%;
  }

  .span-4-of-8 {
    width: 100%;
  }

  .span-3-of-8 {
    width: 100%;
  }

  .span-2-of-8 {
    width: 100%;
  }

  .span-1-of-8 {
    width: 100%;
  }
}

/*  GRID OF NINE   ============================================================================= */
.span-9-of-9 {
  width: 100%;
}

.span-8-of-9 {
  width: 88.71%;
}

.span-7-of-9 {
  width: 77.42%;
}

.span-6-of-9 {
  width: 66.13%;
}

.span-5-of-9 {
  width: 54.84%;
}

.span-4-of-9 {
  width: 43.55%;
}

.span-3-of-9 {
  width: 32.26%;
}

.span-2-of-9 {
  width: 20.97%;
}

.span-1-of-9 {
  width: 9.68%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-9-of-9 {
    width: 100%;
  }

  .span-8-of-9 {
    width: 100%;
  }

  .span-7-of-9 {
    width: 100%;
  }

  .span-6-of-9 {
    width: 100%;
  }

  .span-5-of-9 {
    width: 100%;
  }

  .span-4-of-9 {
    width: 100%;
  }

  .span-3-of-9 {
    width: 100%;
  }

  .span-2-of-9 {
    width: 100%;
  }

  .span-1-of-9 {
    width: 100%;
  }
}

/*  GRID OF TEN   ============================================================================= */
.span-10-of-10 {
  width: 100%;
}

.span-9-of-10 {
  width: 89.84%;
}

.span-8-of-10 {
  width: 79.68%;
}

.span-7-of-10 {
  width: 69.52%;
}

.span-6-of-10 {
  width: 59.36%;
}

.span-5-of-10 {
  width: 49.2%;
}

.span-4-of-10 {
  width: 39.04%;
}

.span-3-of-10 {
  width: 28.88%;
}

.span-2-of-10 {
  width: 18.72%;
}

.span-1-of-10 {
  width: 8.56%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-10-of-10 {
    width: 100%;
  }

  .span-9-of-10 {
    width: 100%;
  }

  .span-8-of-10 {
    width: 100%;
  }

  .span-7-of-10 {
    width: 100%;
  }

  .span-6-of-10 {
    width: 100%;
  }

  .span-5-of-10 {
    width: 100%;
  }

  .span-4-of-10 {
    width: 100%;
  }

  .span-3-of-10 {
    width: 100%;
  }

  .span-2-of-10 {
    width: 100%;
  }

  .span-1-of-10 {
    width: 100%;
  }
}

/*  GRID OF ELEVEN   ============================================================================= */
.span-11-of-11 {
  width: 100%;
}

.span-10-of-11 {
  width: 90.76%;
}

.span-9-of-11 {
  width: 81.52%;
}

.span-8-of-11 {
  width: 72.29%;
}

.span-7-of-11 {
  width: 63.05%;
}

.span-6-of-11 {
  width: 53.81%;
}

.span-5-of-11 {
  width: 44.58%;
}

.span-4-of-11 {
  width: 35.34%;
}

.span-3-of-11 {
  width: 26.1%;
}

.span-2-of-11 {
  width: 16.87%;
}

.span-1-of-11 {
  width: 7.63%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-11-of-11 {
    width: 100%;
  }

  .span-10-of-11 {
    width: 100%;
  }

  .span-9-of-11 {
    width: 100%;
  }

  .span-8-of-11 {
    width: 100%;
  }

  .span-7-of-11 {
    width: 100%;
  }

  .span-6-of-11 {
    width: 100%;
  }

  .span-5-of-11 {
    width: 100%;
  }

  .span-4-of-11 {
    width: 100%;
  }

  .span-3-of-11 {
    width: 100%;
  }

  .span-2-of-11 {
    width: 100%;
  }

  .span-1-of-11 {
    width: 100%;
  }
}

/*  GRID OF TWELVE   ============================================================================= */
.span-12-of-12 {
  width: 100%;
}

.span-11-of-12 {
  width: 91.53%;
}

.span-10-of-12 {
  width: 83.06%;
}

.span-9-of-12 {
  width: 74.6%;
}

.span-8-of-12 {
  width: 66.13%;
}

.span-7-of-12 {
  width: 57.66%;
}

.span-6-of-12 {
  width: 49.2%;
}

.span-5-of-12 {
  width: 40.73%;
}

.span-4-of-12 {
  width: 32.26%;
}

.span-3-of-12 {
  width: 23.8%;
}

.span-2-of-12 {
  width: 15.33%;
}

.span-1-of-12 {
  width: 6.86%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-12-of-12 {
    width: 100%;
  }

  .span-11-of-12 {
    width: 100%;
  }

  .span-10-of-12 {
    width: 100%;
  }

  .span-9-of-12 {
    width: 100%;
  }

  .span-8-of-12 {
    width: 100%;
  }

  .span-7-of-12 {
    width: 100%;
  }

  .span-6-of-12 {
    width: 100%;
  }

  .span-5-of-12 {
    width: 100%;
  }

  .span-4-of-12 {
    width: 100%;
  }

  .span-3-of-12 {
    width: 100%;
  }

  .span-2-of-12 {
    width: 100%;
  }

  .span-1-of-12 {
    width: 100%;
  }
}