// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.headline {
    margin-top: 1rem;
    // border-bottom: 1px solid #e6e6e6;
    &__card {
        border: 1px solid $color-red-light;
        padding: 1rem;
        border-radius: 5px;
        line-height: 1.6;
        font-size: 1.2rem;

        &--topic {
            display: flex;
            align-items: center;
            
            p {
                margin: 0 1rem;
            }
        }
    }
}

// 
// --------------------------COLUMN ONE--------------------------------
// 
.trending-topic {
    padding: 1rem;
    border: 1px solid $color-blue-light;
    border-radius: 5px;    
}

.popular-people {
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid $color-blue-light;
    border-radius: 5px;

    ul {
        list-style: none;
        padding-left: 10px;

        li figure {
            display: flex;
            align-items: center;
            margin: 0 0 20px 0;
        }
    }
    
    img {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        margin-right: 1.5rem;
    }
}


// --------------------------COLUMN two--------------------------------

.newsfeed {
    border: 1px solid $color-blue-light;
    border-radius: 5px;
    
    

    &__post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 2px solid lightgrey;

        img {
            height: auto;
            width: 85%;
            margin: 0 auto;
        }

        &--user {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .timestamp {
                padding-right: 4rem;
            }
        }

        &--user figure {
            display: flex;
            align-items: center;

            figcaption span {
                display: block;
            }

            .name {
                font-weight: 600;
            }

            img {
                border-radius: 50%;
                height: 4rem;
                width: 4rem;
                margin-right: 1.5rem;
            }
        }

        .feed-text {
            padding: 0 4rem;
            line-height: 2;
            font-size: 1.3rem;
        }
    }
}


// --------------------------COLUMN THREE--------------------------------

.ads {
    padding: 1rem;
    border: 1px solid $color-blue-light;
    border-radius: 5px;

    img {
        width: 80%;
        height: 10rem;
    }
}



