.footer {
    margin-top: 40rem;
    background-color: #444357;
    color: #fff;
    text-align: center;
    height: 10rem;
    position: relative;
}

.copyright {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 40%;
}