.header {
    display: flex;
    justify-content: space-between;
}

.logo-box {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    color: white;

    img {
        width: 3rem;
        height: auto;
    }
}

.nav-list {
    list-style: none;
    li {
        display: inline-block;
        padding: 2rem;
        
        
        &:hover {
            background-color: $color-grey-light;
            

            a {
                transform: translateY(-2px);
            }
        }
        
        a {
            text-decoration: none;
            color: $color-grey-dark;
            text-transform: uppercase;
            font-size: 1.3rem;
            display: inline-block;
            
        }
    }

    li:last-child, li:last-child a {
        background-color: $color-primary;
        color: white;
    }
}