.overview {
    height: 55rem;
    display: flex;

    &__text {
        background-color: #444357;
        color: white;
        width: 40%;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;

        h1 {
            padding: 15rem 2rem 0 2rem;
            font-size: 4.5rem;
        }

        .intro-vid {
            background-color: #fff;
            width: 15rem;
            margin-left: 2rem;
            margin-top: 5rem;
            padding: 1rem;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: $color-primary;
            }
            
            span {
                color: $color-primary;
            }
        }
    }

    &__image {
        width: 60%;
        align-self: stretch;
        background-image: url(../../img/img-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .inner-box {
            width: 20%;
            height: 20%;
            background-color: $color-primary;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            color: #fff;
        }
    }
}