.feature {
    background-color: #F1F1EF;
    color: $color-grey-dark;
    height: 60rem;
}

.feature-text {
    width: 100rem;
    padding: 7rem 0;
    margin: 0 auto;
    text-align: center;

    .feature-heading {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

.feature-box {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.feature-box-item {
    display: inline-block;
    width: 50%;
    display: flex;
    padding: 5rem;
    align-items: center;

    & > i {
        margin-right: 1.5rem;
        font-size: 6rem;
        color: rgb(148, 148, 148);
    }

    & p {
        font-size: 1.5rem;        
    }
}

