.news {
    color: $color-grey-dark;
}

.news-text {
    width: 100rem;
    padding: 7rem 0;
    margin: 0 auto;
    text-align: center;

    .news-heading {
        font-size: 4rem;
        margin-bottom: 2rem;
        // color: $color-grey-dark;
    }
}

.news-card {
    width: 100rem;
    margin: 0 auto;
    

    h2 {
        line-height: 1.3;
    }
}

.news-top > * {
    padding: 0 5rem 5rem 5rem;

}

.news-bottom > * {
    padding: 0 5rem 5rem 5rem;
    
}