.inspiration {
    height: 80rem;
}

.inspiration-text {
    width: 100rem;
    padding: 7rem 0;
    margin: 0 auto;
    text-align: center;

    .inspiration-heading {
        font-size: 4rem;
        margin-bottom: 2rem;
        color: $color-grey-dark;
    }
}

.inspiration-gallery {
    width: 80rem;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    
}

.top-row {
    text-align: center;
    margin: 0 auto;
    ul {
        list-style: none;

        li {
            display: inline-block;
            width: 45%;

            img {
                width: 100%;
                height: 20rem;
            }
        }
    }
}

.bottom-row {
    text-align: center;
    margin-bottom: 10rem;
    ul {
        list-style: none;

        li {
            display: inline-block;
            width: 30%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}