::placeholder {
    color: $color-primary;
}

.contact {
    height: 80rem;
    color: $color-grey-dark;
}

.form-img {
    background-color: yellowgreen;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/tools.jpg);
    height: 60rem;
    background-size: cover;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h2 {
        font-size: 4rem;
        width: 40rem;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }
}

.form input, {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid $color-primary;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        border: 1px solid $color-primary;
    }
}