.comments {
    height: 60rem;
    background-image: linear-gradient(to right, rgba(24, 28, 41, 1.5), rgba(18, 0, 41, 0.5)), url(../../img/bg-image.jpeg);
    background-size: cover;
    position: relative;
}

.comment-box {
    width: 40rem;
    background-color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-110%, -70%);
    padding: 5rem;
    border-bottom: 3px solid $color-primary;
    border-radius: 7px;

    .comment-text {
        margin-bottom: 3rem;
        font-style: italic;
    }

    .comment-user {
        font-size: 2rem;
    }
}