.rrc {
    display: flex;
    color: #fff;
    
    & > * {
        padding: 5rem 8rem;;
    }

    .restoration {
        background-color: #9F9BFC;
    }
    .residential {
        background-color: #FAB8B5;
    }
    .commercial {
        background-color: #B2C0C3;
    }
}