*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
}