/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: 'Montserrat', sans-serif;
  color: #3A3D44;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1140px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

header {
  border-bottom: 1px solid #e6e6e6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header__nav ul {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
}

.header__nav ul li {
  display: inline-block;
  margin-right: 3rem;
}

.header__nav ul li a {
  text-decoration: none;
  color: inherit;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search form {
  display: flex;
  align-items: center;
}

.header__search form input {
  margin-right: -2rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.header__search form input:focus {
  outline: none;
}

.header__search form .search-icon {
  color: #757575;
}

.header__search i {
  font-size: 1.4rem;
}

.notification-icon {
  display: block;
  padding: 0 2rem;
  padding-right: 0;
}

.headline {
  margin-top: 1rem;
}

.headline__card {
  border: 1px solid rgba(177, 156, 255, 0.5);
  padding: 1rem;
  border-radius: 5px;
  line-height: 1.6;
  font-size: 1.2rem;
}

.headline__card--topic {
  display: flex;
  align-items: center;
}

.headline__card--topic p {
  margin: 0 1rem;
}

.trending-topic {
  padding: 1rem;
  border: 1px solid rgba(255, 156, 156, 0.5);
  border-radius: 5px;
}

.popular-people {
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid rgba(255, 156, 156, 0.5);
  border-radius: 5px;
}

.popular-people ul {
  list-style: none;
  padding-left: 10px;
}

.popular-people ul li figure {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.popular-people img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-right: 1.5rem;
}

.newsfeed {
  border: 1px solid rgba(255, 156, 156, 0.5);
  border-radius: 5px;
}

.newsfeed__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid lightgrey;
}

.newsfeed__post img {
  height: auto;
  width: 85%;
  margin: 0 auto;
}

.newsfeed__post--user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsfeed__post--user .timestamp {
  padding-right: 4rem;
}

.newsfeed__post--user figure {
  display: flex;
  align-items: center;
}

.newsfeed__post--user figure figcaption span {
  display: block;
}

.newsfeed__post--user figure .name {
  font-weight: 600;
}

.newsfeed__post--user figure img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-right: 1.5rem;
}

.newsfeed__post .feed-text {
  padding: 0 4rem;
  line-height: 2;
  font-size: 1.3rem;
}

.ads {
  padding: 1rem;
  border: 1px solid rgba(255, 156, 156, 0.5);
  border-radius: 5px;
}

.ads img {
  width: 80%;
  height: 10rem;
}